---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const pageTitle = "About Me";

const identity = {
  firstName: "Jenna",
  country: "United States",
  occupation: "Dental Assistant, and am a student studying Web Design and Development",
  hobbies: ["Country Dancing", "Skiing", "Volleyball", "reading"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "crimson";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <style define:vars={{skillColor}}>
            h1 {
                color: purple;
                font-size: 4rem;
            }
              .skill {
                color: var(--skillColor);
                font-weight: bold;
            }
        </style>
	</head>
    <Header />
	<body>
        <h2>{pageTitle}</h2>
        <p>This is the about page where you can learn more about me.</p>
        <p>I am working through Astro's introduction tutorial.</p>
        <p>This site will update as I complete the tutorial, so keep checking back!</p>
        <p>Here are a few facts about me:</p>
        <ul>
        <li>My name is {identity.firstName}.</li>
        <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
        {identity.hobbies.length >= 2 &&
            <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
        }
        </ul>
        <p>My skills are:</p>
        <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>
        {happy && <p>I am happy to be learning Astro!</p>}

        {finished && <p>I finished this tutorial!</p>}

        {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
        <Footer />
		<script>
			import "../scripts/menu.js";
        </script>
    </body>
</html>
